<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idankorenisraeli.mysettingsscreen">

    <application>
        <activity
            android:name=".activity.MySettingsActivity"
            android:screenOrientation="portrait"

            />

        <provider
            android:name=".common.MySettingsScreenContentProvider"
            android:authorities="${applicationId}.LibraryInitProvider"
            android:exported="false"
            android:enabled="true"
            />
    </application>

</manifest>